{% block stylesheets %}
	<link href="{{ asset('assets/css/devis.css') }}" rel="stylesheet">
{% endblock %}

<div id="bottomRight">
	<button id="button" onclick="window.location.href='{{ path('app_meeting') }}'">
		<img src="{{ asset('assets/images/devisBtnLogo.png') }}">

		<span>Demande de devis</span>
	</button>
</div>
