{% block stylesheets %}
   <link href="{{ asset('assets/css/flash.css') }}" rel="stylesheet">
{% endblock %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
			<div class="alert message">
				{{ message|raw }}
			</div>
		</div>
    {% endfor %}
{% endfor %}