{% block stylesheets %}
	<link href="{{ asset('assets/css/flash.css') }}" rel="stylesheet">
{% endblock %}

{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible position-fixed bottom-0 end-0 p-3" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
			<strong class="alert message">
				{{ message|raw }}
			</strong>
		</div>
	{% endfor %}
{% endfor %}
