{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% include '_partials/_navbar.html.twig' %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
                <h1 class="pb-2 border-bottom fw-bold">Réinitialisation de mot de passe</h1>
                {{ form_start(requestPassForm) }}
                    {{ form_row(requestPassForm.email) }}
                    <button type="submit" class="btn btn-primary btn-lg mt-3">Envoyer</button>
                    <a href="{{ path('app_login')}}" class="btn btn-secondary mt-3">Me connecter</a>
                {{ form_end(requestPassForm) }}
            </div>
		</div>
	</section>
{% endblock %}