{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}Nouveau rendez-vous{% endblock %}

{% block content_header %}
    <h1 class="title">Nouveau rendez-vous</h1>
{% endblock content_header %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <script>
    const userData = {{ userData|json_encode|raw }};

    document.addEventListener('DOMContentLoaded', function() {
        const userSelect = document.getElementById('id_de_votre_champ_utilisateur'); // Remplacez par l'ID de votre champ de sélection d'utilisateur

        userSelect.addEventListener('change', function() {
            const selectedUserId = this.value;
            const userAddress = userData[selectedUserId] ? userData[selectedUserId].address : null;

            if (userAddress) {
                document.getElementById('id_du_champ_adresse_rue').value = userAddress.street;
                document.getElementById('id_du_champ_adresse_ville').value = userAddress.city;
                document.getElementById('id_du_champ_adresse_code_postal').value = userAddress.zipcode;
                // ... mise à jour d'autres champs si nécessaire
            } else {
                // Réinitialiser les champs d'adresse si aucun utilisateur n'est sélectionné ou si l'utilisateur n'a pas d'adresse
                document.getElementById('id_du_champ_adresse_rue').value = '';
                document.getElementById('id_du_champ_adresse_ville').value = '';
                document.getElementById('id_du_champ_adresse_code_postal').value = '';
            }
        });
    });
</script>
{% endblock main %}
