
<form method="post" action="{{ path('app_address_delete', {'id': meeting.id}) }}" onsubmit="return confirm('{{ "Êtes-vous sur d'annuler votre demande de RDV ? (un operateur va vous contactez) pour une réponse URGENTE : 01 02 03 04" |trans }}');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
    <button class="btn">{{ "Annuler" |trans }}</button>
</form>
