<form method="post" action="{{ path('app_address_delete', {'id': meeting.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir annulé votre demande de rendez-vous ? (un opérateur vous contactera dans les plus brefs délais) pour une reponse URGENTE : 01 02 03 04 ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
    <button class="btn">Annuler</button>
</form>
