{% extends 'base.html.twig' %}

{% block title %}CleanThis - Modification de l'utilisateur{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="mt-4">Modifier mon mot de passe</h1>
    {{ form_start(form) }}
    
     {{ form_end(form) }}
    </div>
{% endblock %}
