{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
{% for message in app.flashes('notice') %}
     <h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
      {{ message }}
      </h2>
    {% endfor %}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/cours/filRouge_repo/cleanthis/src/Controller/Profile/ProfileController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/cours/filRouge_repo/cleanthis/templates/profile/profile/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
