html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  color: #123b61 !important;
  font-family: Inter, sans-serif !important;
}

.fancy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}

.backgrd {
  width: 80%;
  height: 12rem;
  background-color: #92d4f5;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  margin-bottom: -5rem;
}

.profile {
  width: 60%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  border: 2px solid #c5ccbf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3rem;
}

.formulaire,
.formulaire * {
  font-weight: bold;
}

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 80%;
  height: auto;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 2px 5px #c5ccbf;
  margin-top: 1.5rem;
  border: 1px solid #ccc;
}

.btn-retour,
.btn-primary {
  max-width: 90% !important;
  text-align: center !important;
  margin: 20px 0 !important;
  color: #123b61 !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #d0d0d0 !important;
  padding: 10px 20px !important;
  border-radius: 4px !important;
  text-decoration: none !important;
  display: inline-block !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.btn-retour,
.btn-primary:hover {
  color: #ffffff !important;
  background-color: #123b61 !important;
  border-color: #3971ff !important;
  transition: background 0.3s color 0.3s !important;
}

/* Style adjustments for form elements */
.form-control {
  border: 1px solid #123b61 !important;
}

.form-control,
.btn-retour,
.btn-primary {
  font-weight: normal !important;
  border: 1px solid #123b61 !important;
}

.points {
  color: #123b61;
  margin: 10px 0;
  font-weight: bold;
}
