.lien {
  text-decoration: none;
}

.lien:hover {
  transition: .5s ease-in-out;
  color: rgb(178, 214, 255) !important;
}

.alert-icon {
  font-size: 1.5em;
  padding: 16px;
}

.alert {
  z-index: 11;
  height: 60px;
  position: absolute;
  justify-content:space-around;
  align-items: center;
  top: 5.2rem;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.9;
}

.alert-warning,
.alert-primary,
.alert-danger,
.alert-info,
.alert-success {
  width: 67%;
  margin: auto;
  margin-top: 16px;
}
.message{
  top: 1.6rem;
  opacity: 1;
}