{% extends 'base.html.twig' %}

{% block title %}Inscription - Nouvelle adresse{% endblock %}

{% block body %}
    <h1>Entré votre adresse principale</h1>

    {{ include('address/_form.html.twig') }}

{% endblock %}
