{% extends 'base.html.twig' %}

{% block title %}Mon Profile - Nouvelle adresse{% endblock %}

{% block body %}
    <h1>Entré la nouvelle adresse</h1>

    {{ include('address/_form.html.twig') }}

{% endblock %}
