<h1>Bienvenue chez Cleanthis !</h1>
<p>Félicitations, vous avez été selectionné pour faire partie de nos équipes !</p>
<p>Veuillez cliquer sur le lien ci-dessous pour vous inscrire :</p>
<p><a href="{{ url|raw }}"> Inscription </a></p>
<p>Merci de renseigner la totalité des champs.</p>