<h1>Bienvenue chez Cleanthis</h1>
<p>Felicitation, vous avez été selectionné pour faire partie de nos équipe</p>
<p>Veuillez cliquer sur le liens si dessous pour vous inscrire</p>
<p>Merci de renseigner la totalitée des champs</p>
<p><a href="{{ url|raw }}"> Inscription </a></p>