<h1>Réinitialisation de votre mot de passe</h1>
<p>Bonjour {{ user.firstname }} {{ user.lastname }},</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ url|raw }}">Nouveau mot de passe</a></p>
<p>Merci de renseigner la totalité des champs.</p>